.buy-now-button {
    background-color: rgb(255, 164, 28);
    color: black;
    border-radius: 15px;
    margin-left: 3px;
    border: none;
    height: 29px;
    width: 95px;
}
.add-to-cart-button{
    background-color: rgb(255, 216, 20);
    color: black;
    border-radius: 15px;
    border: none;
    height: 29px;
    width: 95px;

}
.price{
    color: green;
}
.Nike{
    color: black;
}